{% extends 'base.html' %}

{% block title %}Compare Budgets{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h1 style="color: black; font-weight: bold;">Compare Budgets</h1>
        <div class="row mt-5">
            <div class="col-lg-12">
                <h2 style="color: black; font-weight: bold;">Spending vs Budget</h2>
                <div class="card shadow-sm">
                    <div class="card-body">
                        <canvas id="budgetChart" width="400" height="400"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <style>
        body {
            font-family: 'Roboto', sans-serif; /* Modern font */
            background-color: #f2f3f5; /* Light gray background for a sophisticated look */
        }

        .card {
            border: none; /* Remove default border */
            border-radius: 8px; /* Rounded corners for cards */
        }

        .card-title {
            font-size: 1.5em; /* Larger font size for card titles */
            margin-bottom: 15px; /* Space below title */
            color: #343a40; /* Dark color for card titles */
        }

        .card-body {
            position: relative; /* Positioning context for canvas */
        }
    </style>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        const budgetData = JSON.parse('{{ budget_data|escapejs }}');
        const budgetLabels = budgetData.map(data => data.name);
        const budgetAmounts = budgetData.map(data => data.amount);
        const budgetSpent = budgetData.map(data => data.spent);

        const budgetCtx = document.getElementById('budgetChart').getContext('2d');
        new Chart(budgetCtx, {
            type: 'bar',
            data: {
                labels: budgetLabels,
                datasets: [
                    {
                        label: 'Budget Amount',
                        data: budgetAmounts,
                        backgroundColor: 'rgba(54, 162, 235, 0.2)',
                        borderColor: 'rgba(54, 162, 235, 1)',
                        borderWidth: 1
                    },
                    {
                        label: 'Amount Spent',
                        data: budgetSpent,
                        backgroundColor: 'rgba(255, 99, 132, 0.2)',
                        borderColor: 'rgba(255, 99, 132, 1)',
                        borderWidth: 1
                    }
                ]
            },
            options: {
                responsive: true,
                maintainAspectRatio: false,
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });
    </script>
{% endblock %}